.genBg{
    background-color: #fdecee;
    padding-top: 10px;
    vertical-align: middle;
}
.genBg2{
    background-color: white;
    padding-top: 10px;
    vertical-align: middle;
}


.email{
    vertical-align: middle;
}
.material-icons{
    vertical-align: middle;
}
.cake{
    padding-top:5px;
}
